<div class="ct-u-displayTableCell ct-footerCol2 text-right">
    <ul class="ct-map-links list-inline list-unstyled text-uppercase">
        <li><a href="{{ path('index') }}" class="ct-js-btnScroll"><span data-hover="inicio">Inicio</span></a></li>
        <li><a href="{{ path('correo') }}" class="ct-js-btnScroll"><span data-hover="Correo de la Noche">Correo de la Noche</span></a></li>
        <li><a href="{{ path('lista') }}" class="ct-js-btnScroll"><span data-hover="Lista">Lista</span></a></li>
        <li><a href="{{ path('social') }}" class="ct-js-btnScroll"><span data-hover="Social">Social</span></a></li>
        <li><a href="{{ path('contacto') }}" class="ct-js-btnScroll"><span data-hover="Contacto">Contacto</span></a></li>
    </ul>
</div>
