<!--For multipager-->
<!--include m-tabs-events--><!DOCTYPE html><!--[if IE 8 ]>
<html lang="en" class="no-js ie8"></html><![endif]-->
<!--[if IE 9 ]>
<html lang="en" class="no-js ie9"></html><![endif]-->
<html class="no-js" lang="en">
<head>
    {% block style %}
    <meta charset="UTF-8">
    <meta name="correo de la noche" content="Licorería Bogotá">
    <meta name="correo de la noche" content="correo de la noche">
    <meta name="Alejandro Montenegro" content="MARDAN">
    <title>{% block title %} Correo de la Noche  | Licorería Bogotá {% endblock %}</title>
    <title>Booze - Old Fashioned Final HTML Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1 shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/booze.css') }}"><!--[if lt IE 9]>
    <script src="{{ asset('assets/js/html5shiv.min.js') }}"></script>
    <script src="{{ asset('assets/js/respond.min.js') }}"></script>
    <script src="{{ asset('assets/js/es5-shim.min.js') }}"></script><![endif]-->
    {% endblock %}
</head>
<body class="cssAnimate">
<!-- Mobile Menu //-->
<div class="ct-button">
    <button type="button" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
</div>
<div class="ct-menuMobile">
    <ul class="ct-menuMobile-navbar list-unstyled">
        <li class="onepage"><a href="#" class="ct-js-btnScroll">Inicio</a></li>
        <li class="onepage"><a href="#" class="ct-js-btnScroll">menus</a></li>
        <li class="onepage"><a href="#" class="ct-js-btnScroll">blog</a></li>
        <li class="onepage"><a href="#" class="ct-js-btnScroll">events</a></li>
        <li class="onepage"><a href="#" class="ct-js-btnScroll">masterclass</a></li>
        <li class="onepage"><a href="#" class="ct-js-btnScroll">gallery</a></li>
        <li class="onepage"><a href="#" class="ct-js-btnScroll">contact</a></li>
    </ul>
</div>
<div id="ct-js-wrapper" class="ct-pageWrapper">
    <div class="ct-preloader">
        <div class="ct-preloader-content"></div>
    </div>
    <div class="ct-button">
        <button type="button" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    </div>
    <div class="ct-menuMobile">
        <ul class="ct-menuMobile-navbar list-unstyled">
            <li class="onepage"><a href="#" class="ct-js-btnScroll">Inicio</a></li>
            <li class="onepage"><a href="#" class="ct-js-btnScroll">menus</a></li>
            <li class="onepage"><a href="#" class="ct-js-btnScroll">blog</a></li>
            <li class="onepage"><a href="#" class="ct-js-btnScroll">events</a></li>
            <li class="onepage"><a href="#" class="ct-js-btnScroll">masterclass</a></li>
            <li class="onepage"><a href="#" class="ct-js-btnScroll">gallery</a></li>
            <li class="onepage"><a href="#" class="ct-js-btnScroll">contact</a></li>
        </ul>
    </div>
    <nav class="navbar navbar-default ct-centeredMenu ct-menu--color navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav ct-leftSide ct-navbar--fadeIn">
                <li class="onepage"><a href="#" class="ct-js-btnScroll">Inicio</a></li>
                <li class="onepage"><a href="#" class="ct-js-btnScroll">menus</a></li>
                <li class="onepage"><a href="#" class="ct-js-btnScroll">blog</a></li>
                <li class="onepage"><a href="#" class="ct-js-btnScroll">events</a></li>
            </ul>
            <div class="navbar-header"><a href="#" class="navbar-brand"><img src="{{ asset('assets/images/content/booze/logo.png') }}" alt="Image"></a></div>
            <ul class="nav navbar-nav ct-rightSide">
                <li class="onepage"><a href="#" class="ct-js-btnScroll">masterclass</a></li>
                <li class="onepage"><a href="#" class="ct-js-btnScroll">gallery</a></li>
                <li class="onepage"><a href="#" class="ct-js-btnScroll">contact</a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </nav>
    <div class="ct-bookTable ct-bookTable--border">
        <div class="ct-bookTable-form">
            <form action="../assets/form/send.php" method="post" data-email-subject="Contact Form" data-show-errors="true" class="contactForm validateIt">
                <div class="form-group ct-u-paddingBottom15 ct-u-borderBottom">
                    <div class="ct-datePicker">
                        <label class="control-label label-typeFirst">when</label>
                        <input type="text" name="field[]" placeholder="MM/DD/YYYY" required="" class="form-control input-lg input-typeThird ct-js-datePicker">
                    </div>
                </div>
                <div class="form-group ct-u-paddingBottom15 ct-u-paddingTop15 ct-u-borderBottom">
                    <label class="control-label label-typeFirst">when exactly</label>
                    <input type="time" name="field[]" placeholder="7pm" required="" class="form-control input-lg input-typeThird">
                </div>
                <div class="form-group ct-u-paddingBottom15 ct-u-paddingTop15">
                    <label class="control-label label-typeFirst">how many</label>
                    <input type="text" placeholder="_ _" name="[]" required="" class="form-control input-lg input-typeThird">
                </div>
                <div class="form-group">
                    <button type="submit" data-padding-left="32" data-padding-right="32" class="btn btn-link btn-sm ct-js-btnSize btn-block">book a table</button>
                </div>
            </form>
        </div>
    </div>

    <!--Main Slider Sections//-->
    <section id="home" class="ct-sliderSection onepager">
        <div data-items="1" data-height="100%" class="ct-mainSlider ct-js-slick ct-slick ct-js-slick ct-slick--table">
            <div data-background="{{ asset('assets/images/content/booze/slide1.jpg') }}" class="item _image-overlay">
                <div class="item-inner text-center">
                    <div class="ct-u-displayTableVertical">
                        <div class="ct-u-displayTableCell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12"><a href="#"><img src="{{ asset('assets/images/content/booze/big-intro.png') }}" alt="Image"></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--Information Sections-->
    <section id="intro" class="ct-introSection ct-u-backgroundColorDark text-center">
        <header class="ct-bigHeader">Licorería Bogotá</header>
        <p>Correo de la Noche ☽!</p><a href="#" data-padding-left="30" data-padding-right="30" class="btn btn-primary btn-border btn-sm ct-js-btnSize ct-js-btnScroll">➠ Haga su Pedido</a>
    </section>


    <footer class="ct-footer">
        <section class="ct-postFooter">
            <div class="container ct-containerFix">
                <div class="row">
                    <div class="ct-u-displayTableVertical">
                        <div class="ct-u-displayTableCell ct-footerCol1">
                            <p class="ct-copyright">Copyright &copy; 2016 BOOZE</p>
                        </div>
                        <div class="ct-u-displayTableCell ct-footerCol2 text-right">
                            <ul class="ct-map-links list-inline list-unstyled text-uppercase">
                                <li><a href="#" class="ct-js-btnScroll"><span data-hover="inicio">Inicio</span></a></li>
                                <li><a href="#" class="ct-js-btnScroll"><span data-hover="menus">menus</span></a></li>
                                <li><a href="#" class="ct-js-btnScroll"><span data-hover="blog">blog</span></a></li>
                                <li><a href="#" class="ct-js-btnScroll"><span data-hover="events">events</span></a></li>
                                <li><a href="#" class="ct-js-btnScroll"><span data-hover="masterclass">masterclass</span></a></li>
                                <li><a href="#" class="ct-js-btnScroll"><span data-hover="gallery">gallery</span></a></li>
                                <li><a href="#" class="ct-js-btnScroll"><span data-hover="contact">contact</span></a></li>
                            </ul>
                        </div>
                        <div class="ct-u-displayTableCell ct-footerCol3 text-right">
                            <p class="ct-authorPage"><span>Design by<a href="http://www.createit.pl/">&nbsp; CreateIT</a></span></p>
                            <p class="ct-copyright ct-displayHide">Copyright &copy; 2016 BOOZE</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
</div>


<!-- JavaScripts-->
<script src="{{ asset('assets/js/booze.min.js') }}"></script>
<script src="{{ asset('assets/js/main.js') }}"></script>
<!--Twitter-->
<script src="{{ asset('assets/twitter/js/jquery.tweet.js') }}"></script>
<!-- Google Maps-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCheNy7zWQrflLP-TMOt8rmOFWt22GbuZA&libraries=places,geometry"></script>

<script src="{{ asset('assets/js/gmaps/gmap3.min.js') }}"></script>
<script src="{{ asset('assets/js/gmaps/init.js') }}"></script>
<!-- Grayscale Plugin-->
<script src="{{ asset('assets/js/jquery.gray.min.js') }}"></script>
<!-- Portfolio Isotope-->
<script src="{{ asset('assets/js/portfolio/jquery.isotope.min.js') }}"></script>
<script src="{{ asset('assets/js/portfolio/imagesloaded.js') }}"></script>
<script src="{{ asset('assets/js/portfolio/init.js') }}"></script>
<!-- Light Gallery-->
<script src="{{ asset('assets/js/lightgallery/lightgallery-all.js') }}"></script>
<script src="{{ asset('assets/js/lightgallery/init.js') }} "></script>
<!-- One-Pager Scroller-->
<script src="{{ asset('assets/js/jquery.pagescroller.lite.js') }}"></script>
<!-- Contact Form-->
<script src="{{ asset('assets/form/js/form.js') }}"></script>
<link rel="stylesheet" href="{{ asset('assets/css/booze.css') }}">
</body>
</html>
